.kefteme-link {
    font-size: 3.33vw;
    background-color: #f5f5dc;
    color: #2b2b2b;
    border-color: #ffffff;
    padding: 1.11vh 2.22vw;
    position: absolute;
    right: 0.50vh;
    bottom: 50.20vh;
    transform: scale(1);
  }
